@import '../../../assets/styles/base';

.Header {
  &__Container {
    background: url('../../../assets/images/header-bg.jpg') rgba($main-background, 0.85);
    background-size:cover;
    background-blend-mode: multiply;
    padding: 25px 50px;

    display: flex;
  }

  &__Left {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &__Right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__Links {
    position: sticky;
    display: flex;
    padding: 1rem 50px;
    background-color: $main-accent;
    flex-direction: row;

    a {
      margin-right: 6rem;
      color: $main-background;
      font-size: 2.5rem;
      font-weight: 700;
      &:last-of-type {
        margin-right: 0;
      }
    }

  }

  &__CTA_Container {
    margin: auto 0;
  }

  &__CTA {
    background-color: $main-accent;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: $radius;
    a, a:hover {
      color: $main-background;
    }

    &:hover {
      background-color: darken($main-accent, 10);
    }
  }
}

.Sticky {
  position: sticky;
  top: 0;
}
